.button {
  padding: 14px 45px;
  width: auto;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  text-align: center;
  transition: 0.3s;
  background: #7658e0;
  box-shadow: inset 0.5px 0.5px 0 #7658e0, inset -0.5px -0.5px 0 #7658e0;
  border: 2px solid #7658e0;
  display: inline-block;

  &:disabled {
    color: #7a838e;
    background: #b8c1cb;
    border-color: #b8c1cb;
    box-shadow: inset 0.5px 0.5px 0 #b8c1cb, inset -0.5px -0.5px 0 #b8c1cb;
    pointer-events: none;
  }
}

.link {
  display: inline-block;
  border: 0;
  padding: 0;
  background: none;
  color: #5a58a7;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  &::after {
    display: inline-block;
    content: "→";
    margin-left: 4px;
    transform: translateX(0);
    transition: all 0.3s ease-out;
  }

  &:hover {
    &::after {
      transform: translateX(10px);
    }
  }
}
