.card {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  transform: translateY(0);
  transition: all 0.3s linear;

  &--fade {
    opacity: 0;
    transform: translateY(5px);
  }

  &__date-time {
    font-size: 0.8em;
    color: #666;
  }
}
